amply==0.1.4
appdirs==1.4.4
ASLPAw==2.0.1
beautifulsoup4==4.9.3
bimlpa==0.1.2
cdlib==0.1.9
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
chinese-whispers==0.7.3
count-dict==1.1.1
coverage==5.3
cycler==0.10.0
decorator==4.4.2
demon==2.0.5
distlib==0.3.1
docutils==0.16
eva-lcd==0.1.0
filelock==3.0.12
future==0.18.2
gensim==3.8.3
identify==1.5.6
idna==2.10
importlib-metadata==2.0.0
infomap==1.1.4
joblib==0.17.0
karateclub==1.0.15
kiwisolver==1.2.0
lxml==4.5.2
markov-clustering==0.0.6.dev0
matplotlib==3.3.2
multivalued-dict==2.0.1
networkx==2.4
nf1==0.0.3
nodeenv==1.5.0
numpy==1.19.2
omega-index-py3==0.3
pandas==1.1.3
Pillow==7.2.0
pquality==0.0.7
pre-commit==2.7.1
PuLP==2.3
PyGSP==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.14
pytz==2020.1
PyYAML==5.3.1
quantlaw==0.0.1
regex==2020.10.11
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
shuffle-graph==1.1.2
six==1.15.0
smart-open==3.0.0
soupsieve==2.0.1
textdistance==4.2.0
threadpoolctl==2.1.0
toml==0.10.1
tqdm==4.50.2
urllib3==1.25.10
virtualenv==20.0.33
zipp==3.3.0
